
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 60rem;
}.pop-ups-bg-ddE {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 2rem;
  width: 100%;
  height: 85.8rem;

  .pop-ups-container-YEQ {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    flex-direction: column;
    background-color: #2f5160;
    padding: 3.5rem 3.4rem 2.1rem 3.5rem;
    width: 56.1rem;
    height: 82.4rem;
    left: 2rem;
    top: 1.7rem;
    align-items: center;
    display: flex;
    border-radius: 1.7226rem;

    .your-name-bTa {
      font-weight: 400;
      border: solid 0.1rem #b3b3b3;
      background-color: #ffffff;
      flex-shrink: 0;
      white-space: nowrap;
      margin-bottom: 2.4rem;
      box-sizing: border-box;
      padding: 1.6rem 2.5rem 1.5rem 2.5rem;
      font-size: 2.4rem;
      line-height: 1.1725;
      color: #838383;
      width: 100%;
      font-family: Roboto, 'Source Sans Pro';
      border-radius: 1.5rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .your-name-zkc {
      margin-bottom: 2.4rem;
      font-size: 2.4rem;
      font-weight: 400;
      border-radius: 1.5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      color: #838383;
      white-space: nowrap;
      border: solid 0.1rem #b3b3b3;
      background-color: #ffffff;
      padding: 1.6rem 2.5rem 1.5rem 2.5rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .your-name-r28 {
      padding: 1.6rem 2.5rem 1.5rem 2.5rem;
      font-weight: 400;
      color: #838383;
      border-radius: 1.5rem;
      box-sizing: border-box;
      font-size: 2.4rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      background-color: #ffffff;
      margin-bottom: 2.4rem;
      width: 100%;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.1rem #b3b3b3;
    }
    .your-name-tjW {
      width: 100%;
      align-items: center;
      border: solid 0.1rem #b3b3b3;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      margin-bottom: 2.4rem;
      box-sizing: border-box;
      padding: 1.5rem 1.3rem 1.5rem 2.5rem;
      display: flex;
      border-radius: 1.5rem;
      flex-shrink: 0;

      .enquiry-for-dBJ {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 30.3rem 0rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #838383;
      }
      .chevron-down-vw6 {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .your-name-C7v {
      width: 100%;
      background-color: #ffffff;
      flex-shrink: 0;
      padding: 1.6rem 0.278rem 0.769rem 2.5rem;
      box-sizing: border-box;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #b3b3b3;
      border-radius: 1.5rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      margin-bottom: 2.4rem;

      .your-massage-7kg {
        margin: 0rem 31.122rem 0.2rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #838383;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .line-SHA {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 1.5224rem;
        height: 0.5312rem;
      }
    }
    .your-name-7PJ {
      height: 6rem;
      border-radius: 1.5rem;
      text-transform: uppercase;
      font-family: Roboto, 'Source Sans Pro';
      display: flex;
      align-items: center;
      border: solid 0.1rem #b3b3b3;
      background-color: #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(255, 255, 255, 0.25);
      width: 100%;
      font-weight: 400;
      line-height: 1.1725;
      color: #838383;
      white-space: nowrap;
      justify-content: center;
      box-sizing: border-box;
      flex-shrink: 0;
      margin-bottom: 2.2rem;
      font-size: 2.4rem;
    }
    .follow-on-instagram-MHe {
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.1725;
      color: #a5e935;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.1rem 2.4rem 0rem;
    }
    .frame-35-Fdv {
      width: 100%;
      height: 20.6rem;
      overflow: hidden;
      position: relative;
      background-color: #ffffff;
      flex-shrink: 0;
    }
  }
  .cross-button-n84 {
    background-color: #ecc9f2;
    box-sizing: border-box;
    left: 55.1rem;
    top: 1rem;
    position: absolute;
    border-radius: 1.9rem;
    padding: 0.456rem 0.304rem 0.456rem 0.304rem;
    width: 3.8rem;
    height: 3.8rem;

    .close-68k {
      vertical-align: top;
      width: 3.192rem;
      height: 2.888rem;
      object-fit: contain;
    }
  }
}
